@keyframes animation-div {
  0% {
    transform: translateX(0px) translateY(0px);
    background-color: #1875f0;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
  25% {
    transform: translateX(300px) translateY(0px);
    background-color: #01038a;
    box-shadow: 0 0px 100px rgba(1, 82, 82, 0.7);
    border-radius: 25%;
  }
  50% {
    transform: translateY(300px) translateX(300px);
    background-color: #9403ce;
    box-shadow: 0 0px 200px rgba(143, 3, 3, 0.95);
    border-radius: 50%;
  }
  75% {
    transform: translateY(300px) translateX(0px);
    background-color: #45015f;
    box-shadow: 0 0px 100px rgba(4, 109, 0, 0.7);
    border-radius: 25%;
  }
  100% {
    transform: translateY(0px) translateX(0px);
    background-color: #1875f0;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5%;
  }
}
body {
  margin: 0;
  height: 100vh;
  background-color: hsl(0, 0%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-container {
  border-radius: 2%;
  width: 400px;
  height: 400px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.div-move {
  width: 100px;
  height: 100px;
  animation: animation-div 10s linear infinite;
}
